absl-py==2.2.2
accelerate==1.6.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
albucore==0.0.24
albumentations==2.0.7
alembic==1.15.2
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.9.0
appdirs==1.4.4
asgiref==3.8.1
asteroid @ git+https://github.com/asteroid-team/asteroid@4ee495857295f945e0a8e1ddc59546cf9d3a1a20
asteroid-filterbanks==0.4.0
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
autocommand==2.2.2
babel==2.17.0
backports-datetime-fromisoformat==2.0.3
backports.tarfile==1.2.0
bangla==0.0.2
basicsr==1.4.2
beautifulsoup4==4.13.4
blinker==1.9.0
blis==1.2.1
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
braceexpand==0.1.7
cached-property==2.0.1
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.0
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
confection==0.1.5
contourpy==1.2.1
coqpit==0.0.17
cycler==0.12.1
cymem==2.0.11
Cython==3.0.12
cytoolz==1.0.1
datasets==3.5.0
dateparser==1.1.8
decorator==4.4.2
DeepFilterLib==0.5.6
DeepFilterNet==0.5.6
demucs==4.0.1
denoiser @ git+https://github.com/facebookresearch/denoiser.git@8afd7c166699bb3c8b2d95b6dd706f71e1075df0
diffusers==0.33.1
dill==0.3.8
Distance==0.1.3
Django==5.2.3
django-cors-headers==4.7.0
djangorestframework==3.16.0
docker-pycreds==0.4.0
docopt==0.6.2
dora_search==0.1.12
editdistance==0.8.1
einops==0.8.1
encodec==0.1.1
exceptiongroup==1.2.2
executing==2.2.0
facexlib==0.3.0
fiddle==0.3.0
filelock==3.18.0
filterpy==1.4.5
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.5.1
future==1.0.0
g2p-en==2.1.0
g2pkk==0.1.2
Gammatone @ https://github.com/detly/gammatone/archive/master.zip#sha256=a33b739c787152035646cf5c1910ae3ff5da556b6d1f8c9d27191a2495ad6612
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
googletrans==4.0.0rc1
graphviz==0.20.3
greenlet==3.2.0
grpcio==1.71.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.9.0
h2==3.2.0
h5py==3.13.0
hangul-romanize==0.1.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.30.2
humanfriendly==10.0
hydra-colorlog==0.1.4
hydra-core==0.11.3
hyperframe==5.2.0
HyperPyYAML==1.2.2
icecream==2.1.4
idna==2.10
imageio==2.37.0
imageio-ffmpeg==0.4.2
importlib_metadata==8.7.0
inflect==7.5.0
intervaltree==3.1.0
ipython==8.35.0
itsdangerous==2.2.0
jamo==0.4.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiwer==3.1.0
joblib==1.4.2
Js2Py==0.74
jsonlines==1.2.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
julius==0.2.7
kaldi-python-io==1.2.2
kaldiio==2.18.1
keras==3.9.2
kiwisolver==1.4.8
lameenc==1.8.1
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
Levenshtein==0.27.1
lhotse==1.31.0
libclang==18.1.1
libcst==1.7.0
librosa==0.10.0
lightning==2.4.0
lightning-utilities==0.14.3
lilcom==1.8.1
llvmlite==0.43.0
lmdb==1.6.2
loguru==0.7.3
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==4.0.0
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapy==1.1.6
mir_eval==0.8.2
ml_dtypes==0.5.1
mock==5.2.0
more-itertools==10.6.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.3
multiprocess==0.70.16
murmurhash==1.0.12
namex==0.0.9
narwhals==1.35.0
nemo-toolkit==2.2.1
networkx==2.8.8
nltk==3.9.1
noisereduce==3.0.3
nose==1.3.7
num2words==0.5.14
numba==0.60.0
numpy==1.22.0
omegaconf==1.4.1
onnx==1.17.0
onnxruntime==1.21.1
openai-whisper==20240930
opencv-python==4.11.0.86
openunmix==1.3.0
opt_einsum==3.4.0
optree==0.15.0
optuna==4.3.0
packaging==23.2
pandas==1.5.3
parso==0.8.4
pb-bss-eval==0.0.2
peft==0.15.2
pesq @ https://github.com/ludlows/python-pesq/archive/master.zip#sha256=6eb0ae4264614bc5fb812a4c55291bfbd1f1032de16ed9982638266fe8265ec2
pillow==10.4.0
pipwin==0.5.2
plac==1.4.5
platformdirs==4.3.7
pooch==1.8.2
preshed==3.0.9
primePy==1.3
proglog==0.1.9
progressbar==2.5
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==3.20.3
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==19.0.1
PyAudio==0.2.14
pybind11==2.13.6
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydeck==0.9.1
pydub==0.25.1
pygame==2.6.1
Pygments==2.19.1
pyjsparser==2.7.1
pyloudnorm==0.1.1
pynndescent==0.5.13
pyparsing==3.2.3
pypinyin==0.54.0
PyPrind==2.11.3
pyreadline3==3.5.4
pysbd==0.3.4
pysepm @ git+https://github.com/schmiph2/pysepm.git@7ef88aff2c56201a2d0470aaeb58e77e47a914d2
pySmartDL==1.3.4
pystoi==0.4.1
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytorch-lightning==2.5.1
pytorch-metric-learning==2.8.1
pytorch-ranger==0.1.1
pytz==2025.2
PyYAML==6.0.2
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
requests==2.25.1
resampy==0.4.3
retrying==1.3.4
rfc3986==1.5.0
rich==14.0.0
rpds-py==0.24.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
sacremoses==0.1.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.11.4
seaborn==0.13.2
semver==3.0.4
sentencepiece==0.2.0
sentry-sdk==2.26.1
setproctitle==1.3.5
shellingham==1.5.4
silero-vad==5.1.2
simsimd==6.2.1
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.7
sox==1.5.0
soxr==0.5.0.post1
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.3
SpeechRecognition==3.14.2
SQLAlchemy==2.0.40
sqlparse==0.5.3
SRMRpy @ https://github.com/jfsantos/SRMRpy/archive/master.zip#sha256=283b023e264f41066fa9aea5d66f3bb7bf97c14074b8b86f0de713306bed2e9d
srsly==2.5.1
stack-data==0.6.3
streamlit==1.44.1
stringzilla==3.12.5
submitit==1.5.2
SudachiDict-core==20250129
SudachiPy==0.6.10
sympy==1.14.0
tabulate==0.9.0
tb-nightly==2.20.0a20250623
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.19.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.0.1
text-unidecode==1.3
texterrors==0.5.1
tf_keras==2.19.0
thinc==8.3.4
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.9.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
torch==2.7.1
torch-audiomentations==0.12.0
torch-optimizer==0.1.0
torch-stoi==0.2.3
torch_pitch_shift==1.2.5
torchaudio==2.7.1
torchlibrosa==0.1.0
torchmetrics==0.11.4
torchvision==0.15.1+cpu
tornado==6.4.2
tqdm==4.67.1
trainer==0.0.36
traitlets==5.14.3
transformers==4.48.3
treetable==0.2.5
TTS==0.22.0
typeguard==4.4.2
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
ultralytics==8.3.136
ultralytics-thop==2.0.14
umap-learn==0.5.7
Unidecode==1.3.8
urllib3==1.26.20
vad==1.0.2
voicefixer==0.1.3
wandb==0.19.9
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webdataset==0.2.111
webrtcvad==2.0.10
Werkzeug==3.1.3
wget==3.2
whisper==1.1.10
win32_setctime==1.2.0
wrapt==1.17.2
xxhash==3.5.0
yapf==0.43.0
yarl==1.20.0
zipp==3.23.0
